.container__big-card{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.container__big-card > a {
  text-decoration: none;
}

.big-card__focus > img{
  border: 2px solid #ffffff71;
  border-radius: 15px;
}

.big-card__title > h2 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
}

.big-card__description > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-top: 10px;
}
