<article class="container__big-card">
  <div class="big-card__focus">
    <img
    src="https://encurtador.com.br/Hq0n7"
    alt=""
    height="250px"
    width="100%"
    srcset=""
    >
  </div>
  <div class="big-card__title">
    <h2>Campeão Gaúcho</h2>
  </div>
  <div class="big-card__description">
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
  </div>
</article>
