.container__menu-title{
  color: #ffffff;
}

.container__menu-title > h1 {
  margin: 15px 0;
  text-align: center;
  font-size: 90px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
