<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container">
  <div class="articles__main">
    <app-big-card
      photoCover="https://i.imgur.com/z6nK39S.png"
      titleCard="Como se proteger de ataques na internet? Veja 5 dicas essenciais!"
      descriptionCard="Hoje em dia, quase tudo acontece na internet: compras, bate-papos, estudos e até pagamentos. Mas com tanta gente conectada, os criminosos também estão por lá tentando roubar dados e dinheiro. O Brasil está em risco porque ainda não se protege bem contra esses ataques."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCard="https://i.imgur.com/tUS8hRH.png"
      titleCard="Como os Brasileiros Estão Adotando a Inteligência Artificial em Suas Rotinas Diárias"
    >
    </app-small-card>
    <hr>
    <app-small-card
      photoCard="https://i.imgur.com/jXPcbn8.png"
      titleCard="Como a Integração de ERP, CRM e IA Pode Revolucionar Seu Negócio"
      ></app-small-card>
    <hr>
    <app-small-card
      photoCard="https://i.imgur.com/j5DTIhN.png"
      titleCard="Baterias de Sódio e Hidrogênio Geológico: O Futuro da Energia Limpa"
      ></app-small-card>
  </div>
</div>
