
.container {
  display: flex;
  margin: 30px 70px;

}

p {
  color: white;
}

.articles__main {
  width: 80%;
}

.articles__others {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles__others > hr {
  border-color: #080808;
}
